

.accordion-grid {

  .accordion-row {

    border-bottom: 1px solid color( navy );
    margin-bottom: 15px;

    li {

      position: relative; // fixes weird display bug with :before dash

    }

    .alignright {

      margin-right: 0;

    }

    .alignleft {

      margin-left: 0;

    }

    .alignnone {

      width: 100% !important;
      margin-left: 0;

    }

    .accordion-title {

      display: flex;
      justify-content: space-between;

      .accordion-title {

        margin: 0;

      }

      .accordion-price {

        @include font-bug;
        font-size: 30px;
        letter-spacing: normal;
        line-height: 1.2;
        text-align: right;

        width: 35%;
        margin: 0;


        @include media( $tablet-break ) {

          font-size: 36px;

        }

      }

    }

    .accordion-hidden {

      max-height: 0;
      overflow: hidden;
      transition: max-height 1000ms ease-out;

      &.active {

        max-height: 5000px;
        transition: max-height 1000ms ease-in-out;

      }

    }

    .accordion-toggle {

      @extend h4;

      outline: none;

      display: flex;
      justify-content: flex-start;
      align-items: center;

      cursor: pointer;

      .toggle {

        font-size: 13px;
        line-height: 1.2;

        padding-left: 7px;

        width: 100%;

      }

      .arrow {

        display: block;
        position: relative;
        top: 3px;

        width: 20px;
        height: 20px;

        background-image: url('#{$svg}/arrow-dropdown.svg');
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 20px;

        transform: scaleY(1);
        transition: transform 500ms;

      }

      &.active {

        .arrow {

          transform: scaleY(-1);
          top: 0;
          transition: transform 500ms;

        }

      }

    }

  }

}
